{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="icon" href="/static/favicon.png" type="image/gif" sizes="16x16"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
    <script type="text/javascript" src="{% static 'js/js.js' %}"></script>
    <title>Dots</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
</head>

<body>
    {% if name %}
    <h2>your name</h2>
    <input id="name" value="">
    <button type="button" onclick="sub(true)">submit</button>
    {% elif menu %}
    <h2>your name</h2>
    <input id="name" value="">
    <h2>Input the number of player</h2>
    <input id="member" value="2">
    <h2>Input the number of grid</h2>
    <input id="numbers" value="10">
    <button type="button" onclick="sub(false)">submit</button>
    {% else %}
    <h2 id="start" style="margin: auto; text-align: center;">Game NOT Started!</h2>
    <div style="margin: auto;display:table" id="scoreBoard">
        {% for player, score in dash_board.items %}
        <p>{{ player }}:{{ score }} </p>
        {% endfor %}
        <p> NOw mt asubd</p>
    </div>
    <div id="playground" rows="{{ rows }}" columns="{{ columns }}">
        {% for row in rows %}
        <div class="row">
            {% for column in columns %}
            <div class="dot" id="dot {{ row }} {{ column }}"></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div style="margin: 20px auto; display:table">
        <input style="margin: 20px auto; display:table" id="copy">
        <button style="margin: 20px auto; display:table" onclick="copyToClip()">Copy</button>
    </div>
    {% endif %}
</body>

</html>