<!-- {% for row in rows %}
        <div>
            {% for column in columns %}
            <span class="dot" ></span>
            {% endfor %}
        </div>
        {% endfor %} -->

        <!--   var canvas = document.getElementById("playground");
  console.log(document.body.clientWidth);

  canvas.style.width = document.body.clientWidth + "px";
  // canvas.style.height = document.body.clientWidth + "px";
  var ctx = canvas.getContext("2d");
  var row = document.body.getAttribute("rows");
  var column = document.body.getAttribute("columns");
  var gap = Math.floor(document.body.clientWidth / row);
  console.log(row, column, gap);
  for (i = 0; i < document.body.clientWidth; i = i + gap)
    for (j = 0; j < document.body.clientHeight; j = j + gap) {
      console.log(i, j);
      ctx.fillRect(i, j, 1, 1);
    }

  ctx.moveTo(0, 0);
  ctx.lineTo(20, 10);
  ctx.stroke(); -->