body{
   
}

#playground {
    background-color: cornsilk;
    margin: auto;
    display: block;
    /* cursor: pointer; */
    /* margin: 20px 0; */
}

.dot{
    height: 2px;
  width: 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
}

.letter{
    font-family: "monospace";
    margin: 0;
    height: 5px;
    width: 5px;
    position: absolute;
}
.score{
    margin: 0;
}